@CHARSET "utf-8";
@external x-grid-cell-first;
.buyBackgroundActive {
    background-image: linear-gradient(to bottom right, #0FAAD1 0%, #0F1BBF 100%);
}
.buyBackgroundActive:hover {
    background-image: linear-gradient(to bottom right, #2FBBE2 0%, #2d6aba 100%);
}
.sellBackgroundActive {
    background-image: linear-gradient(to bottom right, #67D152 0%, #148229 100%);
}
.sellBackgroundActive:hover {
    background-image: linear-gradient(to bottom right, #69df54 0%, #15992b 100%);
}
.buyBackground {
    background-image: linear-gradient(to bottom right, #2FBBE2 0%, #2d6aba 100%);
}
.sellBackground {
    background-image: linear-gradient(to bottom right, #67D152 0%, #148229 100%);
}
.rejectedBackground {
    background-image: linear-gradient(to bottom right, #F79EAE 0%, #E62B47 100%);
}
.fxBackgroundInactive {
    background-color: grey;
    cursor: none;
}
tr.rowFailed td {
	background-color: #FFCCCC !important;
}
tr.rowNew td {
	background-color: #99FF66 !important;
}
div.dealPanelMargin {
	padding-left: 5px;
}
/*****************
****DEAL PANEL****
*****************/
.dealPanelPortlet {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}
/*****************
***RATE VIEWER****
*****************/
.rateViewerRowPanel {
	height: 45px !important;
	width: 296px !important;
	cursor: pointer;	
}
.rateViewerRowPanel div.rateViewerDeleteRowButton {
	visibility: hidden;		
}
.rateViewerRowPanel:hover div.rateViewerDeleteRowButton {
	visibility: visible;		
}
.rateViewerRowPanel:hover div.rateViewerGreyButton {
	background-image: linear-gradient(to bottom, #E8E3E8 0%, #6E6D6E 100%);
}
.rateViewerRowPanel:hover div.quoteUp {
	opacity: 1; 
}
.rateViewerRowPanel:hover div.quoteDown {
	opacity: 1; 
}
.rateViewerGreyButton {
	color: #ffffff;
	float: left;
	height: 41px;
	background-image: linear-gradient(to bottom, #BFBFBF 0%, #4F4F4F 100%);
	margin-left: 1px;
	padding: 2px 2px 2px 5px;
	width: 90px;
}
@sprite .rateViewerDeleteRowButton {
	gwt-image: "delete16x16";
	width: 16px; 
	height: 16px; 
	position: absolute; 
	top: 3; 
	right: 5;
}
@sprite .rateViewerDeleteRowButton:hover {
	gwt-image: "delete16x16Highlighted";	
}
@sprite .quoteUp {
	gwt-image: "rightleft2green";
	background-position: -6 0;
	height: 12px;
	width: 12px;
	opacity : 0.3; 		
}
@sprite .quoteDown {
	gwt-image: "rightleft2red";
	background-position: -6 -12;
	height: 12px;
	width: 12px;
	opacity : 0.3; 		
}
/*****************
**MATRIX BLOTTER**
*****************/
/*image was copied from Grid default header*/
@sprite .matrixBlotterGrid td.x-grid-cell-first {
	background: repeat-x 0 bottom;
	background-color: #F9F9F9;
	background-position: bottom;
	border-right-color: rgb(208, 208, 208);
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-color: rgb(208, 208, 208);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	gwt-image: 'tenorBackground';
	height: auto;
	zoom: 1;
}
.matrixBlotterCellInner {
	padding: 0 1 0 1 !important;
}
.matrixBlotterCellInner:hover {
	background-color: yellow;	
}
.matrixBlotterCell {
	padding: 3 1 3 1;
	border-radius: 3;
	color: #FFFFFF;
	font-weight: bold;
	border: 1 solid #FFFFFF;
	text-align: center;	
}
.matrixBlotterBuyCell {
    background-image: linear-gradient(to bottom right, #0faad1 30%, #0f1bbf 110%);
}
.matrixBlotterBuyCell:hover {
    background-image: linear-gradient(to bottom right, #0FAAD1 0%, #0F1BBF 100%);
    cursor: pointer;
}
.matrixBlotterSellCell {
    background-image: linear-gradient(to bottom right, #67D152 30%, #148229 110%);
}
.matrixBlotterSellCell:hover {
    background-image: linear-gradient(to bottom right, #67D152 0%, #148229 100%);
    cursor: pointer;
}
   
/*****************
******COMMON******
*****************/
.noTextSelection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}